li {
  list-style-type: circle;
}
.experienceContainer {
  text-align: center;
  padding: 20px;
  justify-content: center;
  margin-top: 5px;
}

.timeline {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  max-width: 120ch;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  color: var(--text-color);
  margin-top: 3%;
}

.timeline_component {
  margin: 0 20px 20px 20px;
}

.timeline_component--bg {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px var(--text-color);
  border-radius: 10px;
}

.timeline_middle {
  position: relative;
  background: var(--text-color);
}

.timeline_point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: var(--text-color);
  border-radius: 50%;
}

.timeline_date--right {
  text-align: right;
  font-weight: bold;
}

.timeline_title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}
